/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
	font-family: 'Material Icons';
}

html {
	font-family: 'Poppins';
	background-color: #ebebeb;
}

#iframe_content {
	padding: 0 15px;
}

#iframe_content hr , #iframe_content h1, #iframe_content h2, #iframe_content h3, #iframe_content h4, #iframe_content h5, #iframe_content h6, #iframe_content img, #iframe_content ol, #iframe_content li, #iframe_content ul {
	all: revert;
}

