/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
	font-family: 'Material Icons';
}

html {
	font-family: 'Poppins';
	background:#ebebeb;
}

#iframe_content {
	padding: 40px 20px;
	margin: auto;
}

#iframe_content hr , #iframe_content h1, #iframe_content h2, #iframe_content h3, #iframe_content h4, #iframe_content h5, #iframe_content h6, #iframe_content ol, #iframe_content li, #iframe_content ul {
	all: revert;
}

#iframe_content img{
	display:revert;
}

#iframe_content td, #iframe_content th {
	padding:6px 13px;
	border:1px solid #9c9c9c;
	border-collapse:collapse;
}

#iframe_content table {
	margin: 1em auto;
	width:100%;
}

#menu{
	background:#ebebeb;
	z-index: 20;
}

.katex{
	font:revert;
}

@media print {
	#menu-logo,#menu {
		display: none !important;  /* hide whole page */
	}
}
